

.career {
  min-height: 1671px;
  position: relative;

  &__info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 79px;
    flex-wrap: wrap;
  }
  &__numb{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    height: 63px;
  }
  &__x{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
  }
  &__feature{
    margin-top: -20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.3px
  }
  &__percent{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
  }
  &__plus{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    margin-right: 5px;
  }
  &__back{
    width: 80%;
    margin: 86px auto 0 auto;
    background-image: url('../images/back/BackgroundBig.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  &__infoTwo{
    margin-top: 100px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

  }
  &__get{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 56px;
    text-align: center;
    padding-top: 115px;
  }
  &__cirkul{
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    width: 80%;
    margin: 0 auto;
  }
  &__number{
    margin-top: -60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    color: #002E8C;
  }
  &__empl{
    margin-top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.3px;
  }
  &__shape{
    display: block;
    margin: 60px 0 0 75%;
  }
  &__section{
    margin: 43px 0 0 150px;
  }
  &__connect{
    margin-top: 200px;

    width: 400px;
  }
  &__champ{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 43px;
  }
  &__employ{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 34px;
    margin-top: 27px;
    width: 400px;
  }
  &__book{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 31px;
    color: #007188;
    margin-top: 30px;
  }
  &__delimeter{
    height: 2px;
    margin-left: 0px;
    width: 110px;
    background: #007188
  }
  &__cirkul-img{
    display: block;
    margin: 0 auto;
  }
  &__employ{
    width: 90%;
  }
}
#two{
  margin-left: 35px;
}