.recall {
  background: #F4F9F9;
  min-height: 1168px;
  &__subTitle{
    width: 410px;
    display: block;
    margin: 0 auto;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 56px;
    padding: 155px 0 0 0;
  }
  &__pathOne{
    display: block;
    margin:  0 auto;
  }
  &__cardAll{
    margin: 0 auto;
    width: 1200px;
    margin-top: 2px;
    position: relative;
  }
  &__cardOne{
    height: 421px;
    width: 525px;
    background-image: url('../images/back/background.png');
    background-repeat:no-repeat;
  }
  &__starsOne{
    padding: 40px 0 0 53px;
  }
  &__starsSize{
    height: 36px;
    width: 36px;
    display: flex;
    flex-direction: row;
  }
  &__textOne{
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.3px;
    padding: 22px 0 0 60px;
  }
  &__imgSmall{
    margin: 35px 0 0 60px;
    height: 65px;
    width: 65px;
  }
  &__nameOne{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    margin:-50px 0 0 135px;

  }
  &__profOne{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #818788;
    margin:0 0 0 135px;
  }
  &__cardTwo{
    background-image:url('../images/back/background1.png');
    background-repeat:no-repeat;
    height: 298px;
    width: 523px;
    float: right;
    margin: -420px 120px 0 0;
  }
  &__starsTwo{
    display: flex;
    flex-direction: row;
    padding: 60px 0 0 60px;
  }
  &__sizeSmall{
    height: 26px;
    width: 26px;
  }
  &__textTwo{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.3px;
    padding: 23px 0 0 60px;
    width: 400px;
  }
  &__nameTwo{
    padding: 10px 0 0 79px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 26px;
  }
  &__profTwo{
    padding: 15px 0 0 73px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &__cardThree{
    width: 523px;
    height: 328px;
    background-image:url('../images/back/background2.png');
    margin: -100px 0 0 550px;
  }
  &__starsThree{
    padding: 58px 0 0 53px;
  }
  &__textThree{
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.3px;
    padding: 14px 0 0 58px;
    width: 400px;
  }
  &__imgSmallTwo{
    height: 44px;
    width: 44px;
    padding: 27px 0 0 58px;
  }
  &__nameThree{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    margin: -45px 0 0 110px;
  }
  &__profThree{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 110px;
  }
}
